.grid-layout-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    padding: 16px 0 16px 16px;
}

.grid-layout-wrapper .grid-layout{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: stretch;
}

.grid-layout-wrapper .grid-layout .grid-col{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
}
