.slideshow-layout-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px 0 16px 16px;
}

.slideshow-layout-wrapper .slideshow-layout{
    white-space: nowrap;
    overflow-x: scroll;
    margin: 0;
    padding: 0;
}

.slideshow-layout-wrapper .slideshow-layout .image-box-wrapper{
    display: inline-block;
    height: 360px;
    width: 320px;
}

.slideshow-layout-wrapper .caption{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    margin: 8px 16px 0 0;
    padding: 0 2px;
    text-align: center;
    color: #808080
}

