.slideshow-layout-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.slideshow-layout-wrapper .slideshow-layout{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 320px;

    overflow-x: scroll;
    margin: 0;
    padding: 0;
}

.slideshow-layout-wrapper .slideshow-layout .image-box-wrapper{
    flex: none;
    width: 320px;
}


