.slideshow-layout-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.slideshow-layout-wrapper .slideshow-layout{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 320px;

    overflow-x: scroll;
    margin: 0;
    padding: 0;
}

.slideshow-layout-wrapper .slideshow-layout .image-box-wrapper{
    flex: none;
    width: 320px;
}

.slideshow-layout-wrapper .caption{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    margin: 8px 16px 0 0;
    padding: 0 2px;
    text-align: center;
    color: #808080
}

