.image-cell{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    border: 1px solid var(--grey);
}

.image-cell img{
    width: 132px;
    height: 132px;
    flex: none;
    order: 0;
    flex-grow: 0;
    border-radius: 4px 4px 0 0;
}

.image-cell .image-caption{
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    overflow: hidden;
    color: #808080;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 8px 0;
}