.image-box-wrapper{
    position: relative;
    margin: 0 16px 16px 0;
    border-radius: 2px;
}

.image-box-wrapper img{
    display: block;
    width: 100%;
    height: 100%;

    border-radius: 2px;

    z-index: 0;
}

.image-box-wrapper .faded-background{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    opacity: 0;
    transition: 0.3s ease;

    border-radius: 2px;

    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 97.4%);
    z-index: 1;
}

.image-box-wrapper .caption-container{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    opacity: 0;

    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #FAFAFA;

    box-shadow: 4px 4px 0px 0px #000000 8% inset;

    padding: 16px;
    z-index: 2;
}

.image-box-wrapper:hover .faded-background{
    opacity: 1;
}

.image-box-wrapper:hover .caption-container{
    opacity: 1;
}