/* main image selector class */
.image-selector{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.05));
    border: 1px solid var(--grey);
    border-radius: 4px;
    height: 600px;
    background-color: #FFFFFF;
}

.image-selector .image-selector-title{
    padding: 24px 20px;
    border-radius: 2px 2px 0px 0px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: #000000;
    background-color: transparent;
}

/* image selection grid */
.image-selector .image-selection-wrapper{
    border-radius: 4px 4px 0px 0px;
    margin: 0px;
    padding: 4px 20px 20px;
    overflow-y: scroll;
    flex-grow: 1;
    height: 320px;
    background-color: transparent;
}

.image-selector .image-selection-wrapper .image-selection-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    justify-content: start;
    align-items: start;
    row-gap: 20px;
    column-gap: 20px;
    background-color: transparent;
}

.image-selector .image-selection-wrapper .image-selection-grid .selected-image{
    box-shadow: 0 0 0 2pt var(--primary);
    border-radius: 4px;
    box-shadow: 0;
    cursor: default;
}

.image-selector .selected-images-queue-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: #FAFAFA; 
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
    border-top: 1px solid var(--grey);
    
    z-index: 1;
}

.image-selector .selected-images-queue-wrapper .selected-images-queue-title{
    padding: 16px 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    color: #000000;
}

/* queue of selected images */
.image-selector .selected-images-queue-wrapper .selected-images-queue{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0 20px 16px 20px;
    height: 180px;
    overflow-x: scroll;
    background-color: transparent;
}

.image-selector .selected-images-queue .close-button{
    position: absolute;
    top: -8px;
    right: -8px;
    z-index: 1;
    cursor: pointer;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: var(--red);
    text-align: center;
}

.image-selector .selected-images-queue .close-button svg{
    position: relative;
    top: -0.8px;
    height: 12px;
    width: 12px;
    color: #FFFFFF;
}

.image-selector .selected-images-queue .deletable-image-cell-wrapper{
    position: relative;
    margin: 0;
    padding: 0;
    margin-right: 16px;
    cursor: default;
}


/* bottom toolbar */
.image-selector .bottom-toolbar{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    padding: 8px;
    border-radius: 0px 0px 4px 4px;
    height: 32px;
    border-top: 1px solid var(--grey);
    background-color: transparent;
}

.image-selector .bottom-toolbar .layout-selector{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    border-radius: 4px;
}

.image-selector .bottom-toolbar .layout-selector .layout-selector-option{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4px 8px;
    background-color: #E5E5E5;
}

.image-selector .bottom-toolbar .layout-selector .selected-layout-option{
    background-color: var(--primary);
    color: #FFFFFF;
}

.image-selector .bottom-toolbar .layout-selector .unselected-layout-option{
    background-color: #E5E5E5;
    color: #000000;
}

.image-selector .bottom-toolbar .layout-selector .layout-selector-option .layout-selector-option-text{
    cursor: pointer;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    margin-right: 4px;
}

.image-selector .bottom-toolbar .add-to-article-button{
    cursor: pointer;
    border: none;
    padding: 0 20px;
    border-radius: 4px;
    background: var(--primary);
    color: #FFFFFF;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
}

.add-to-article-button:focus{
    outline: none;
}

/* 2 frames for mobile devices in the image selection grid and increase wrapper padding */
@media only screen and (max-width: 600px) {
    .image-selector .image-selector-title{
        padding: 24px 32px;
    }

    .image-selector .image-selection-wrapper .image-selection-grid{
        padding-top: 8px;
        grid-template-columns: 1fr 1fr;
    }

    .image-selector .image-selection-wrapper{
        padding: 0 32px 32px;
    }

    .image-selector .selected-images-queue-wrapper .selected-images-queue-title{
        padding: 16px 32px;
    }

    .image-selector .selected-images-queue-wrapper .selected-images-queue{
        padding: 0px 32px 20px;
    }
  }