/* main image selector class */
.image-selector{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.05));
    border: 1px solid var(--grey);
    border-radius: 4px;
    height: 600px;
}

/* image selection grid */
.image-selector .image-selection-wrapper{
    background: #FFFFFF;
    border-radius: 4px 4px 0px 0px;
    margin: 0px;
    padding: 20px;
    overflow-y: scroll;
    flex-grow: 1;
    height: 320px;
}

.image-selector .image-selection-wrapper .image-selection-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    justify-content: start;
    align-items: start;
    row-gap: 20px;
    column-gap: 20px;
    background: #FFFFFF;
}

/* 2 frames for mobile devices in the image selection grid and increase wrapper padding */
@media only screen and (max-width: 600px) {
    .image-selector .image-selection-wrapper .image-selection-grid{
        grid-template-columns: 1fr 1fr;
    }

    .image-selector .image-selection-wrapper{
        padding: 32px;
    }
  }

.image-selector .image-selection-wrapper .image-selection-grid .selected-image{
    box-shadow: 0 0 0 2pt var(--primary);
    border-radius: 4px;
    box-shadow: 0;
    cursor: default;
}


/* queue of selected images */
.image-selector .selected-images-queue{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 16px 18px;
    background: #FAFAFA; 
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
    border-top: 1px solid var(--grey);
    overflow-x: scroll;
    z-index: 1;
}

.image-selector .selected-images-queue .close-button{
    position: absolute;
    top: -8px;
    right: -8px;
    z-index: 1;
    cursor: pointer;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #D60202;
}

.image-selector .selected-images-queue .deletable-image-cell-wrapper{
    position: relative;
    margin: 0;
    padding: 0;
    margin-right: 16px;
    cursor: default;
}


/* bottom toolbar */
.image-selector .bottom-toolbar{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    padding: 8px;
    background: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    height: 32px;
    border-top: 1px solid var(--grey);
}

.image-selector .bottom-toolbar .caption-textbox{
    border: 0.03px solid var(--grey);
    box-sizing: border-box; 
    filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.05));
    border-radius: 4px;
    padding: 4px 4px 4px 8px;
    margin-right: 8px;
    font-style: normal;
    font-size: 14px;
    flex-grow: 1;
    color: #808080;
}

.caption-textbox:focus, .add-to-article-button:focus{
    outline: none;
}

::placeholder {
    color: var(--grey);
    opacity: 1;
}

.image-selector .bottom-toolbar .add-to-article-button{
    cursor: pointer;
    border: none;
    padding: 0 20px;
    border-radius: 4px;
    background: var(--primary);
    color: #FFFFFF;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
}