@import './../../environment/env.css';
@import './imageSelector.css';

/* Layout styles*/
@import './layouts/gridLayout.css';
@import './layouts/slideshowLayout.css';

/* Image Block styles */
@import './imageBlocks/imageBox.css';
@import './imageBlocks/imageCell.css';

/* Components styles */
@import './components/error.css';
@import './components/caption.css';

/* Wrapper mainn class */
.main{
    box-sizing: border-box;
    margin: 24px 0;
    padding: 0;
    width: 100%;
}