@import './../../environment/env.css';
@import './imageSelector.css';

/* Layout styles*/
@import './layouts/gridLayout.css';
@import './layouts/slideshowLayout.css';

/* Image Block styles */
@import './imageBlocks/imageBox.css';
@import './imageBlocks/imageCell.css';

/* Error styles */
@import './error.css';

/* Wrapper mainn class */
.main{
    position: relative;
    box-sizing: border-box;
    margin: 32px 0;
    padding: 0;
    width: 100%;
}

.error-stack{
    display: flex;
    flex-direction: column-reverse;
    align-items: stretch;
    justify-content: flex-end;
    position: absolute;
    left: 8px;
    bottom: 56px;
}